/* CSS Here pls */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

/*Contact Page CSS*/
html {
  /* If Want a image change here */
  /* background: url(/4138964.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  background: orange;
  font-family: 'Creepster', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow-x: hidden !important;
  background-color: #000000;
}

.card {
  /* Add shadows to create the "card" effect */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgb(5, 5, 5);
  transition: 0.3s;
  width: 300px;
  border: black 2px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: black;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 200px;
  height: 200px;
  margin: 20px auto 10px auto;
  border-radius: 100%;
  border: 1px solid #000;
}

.container a {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.container h2{
  color: orange;
}
.first-section{
  background-image: url("./Scarecrow.jpeg");
}

.container a:hover {
  background-color: #000;
  color: orange;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.intro {
  margin-top: 100px;
  color: white;
  display: flex;
  justify-content: center;
}
.soc {
  /* background-color: #cbcccb; */
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: row;
}
.soc li {
  list-style: none;
  margin: 10px 10px;
  transition: all 0.2s ease-in-out;
}
.soc li:hover {
  transform: scale(1.3);
}
.soc li a {
  padding-bottom: 2px;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.imptext h2 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.035em;
  /* Gray 1 */
  color: #ffffff;
}

.imptext p {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.035em;
  /* Gray 1 */
  color: #ffffff;
}

.imptext a {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  /* Gray 1 */
  color: #333333;
}
.imptext2 h2 {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.035em;
  /* Gray 1 */
  color: #ffffff;
}

.imptext2 p {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.035em;
  /* Gray 1 */
  color: #ffffff;
}

.imptext2 a {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  /* Gray 1 */
  color: #333333;
}
nav {
  width: auto;
  height: 1.5rem;
  left: 1rem;
  top: 1.25rem;

  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #ffffff;
}

@media only screen and (min-width: 1080px) {
  .imptext h2 {
    font-size: 4rem;
    max-width: 30rem;
    line-height: 6rem;
  }
  .imptext p {
    font-size: 1.5rem;
    max-width: 30rem;
    line-height: 2.5rem;
  }
  .imptext2 h2 {
    font-size: 4rem;
    line-height: 6rem;
  }
  .imptext2 p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

/* Navbar */
html {
  scroll-behavior: smooth;
}

/* Navbar */
body {
  margin: 0;
  font-family: 'Space Mono', monospace;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: rgba(22,22,22,0.85);
  z-index: 100000;
}
.header__logo {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.header__logo a {
  font-weight: 700;
  color: #fff;
  font-size: 17px;
  padding: 14px 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
#button-hamburger {
  display: none;
  z-index: 999;
}
.topnav {
  display: grid;
  z-index: 99;
  width: auto;
  position: relative;
  transform: translate(0, 0);
  grid-auto-flow: column;
  top: 0;
  text-align: center;
}
@media screen and (max-width: 670px) {
  .topnav {
    grid-auto-flow: row;
    background-color: #222;
    position: absolute;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease-in-out;
    margin: 0 auto;
    top: 75px;
    text-align: left;
  }
  .topnav a{
    text-decoration: none;
    display: inline-block;
  }
  .topnav.open {
    transform: translate(0,0);
    width: 100%;
  }
  #button-hamburger {
    display: block;
    background-color: #000;
    padding: 19px 17px;
    border: none;
    border-radius: 3px;
    font-size: 23px;
    color: #fff;
    cursor: pointer;
  }
  #button-hamburger:hover {
    background-color: #333;
  }
}
@media screen and (min-width: 670px) and (max-width: 1000px) {
  #button-hamburger {
    display: none;
    background-color: inherit;
  }
  .topnav {
    width: auto;
    background-color: inherit;
    position: relative;
    transform: translate(0, 0);
    grid-auto-flow: column;
    top: 0;
    text-align: left;
  }
}

.topnav {
  overflow: hidden;
}

.topnav a {
  color: #ffffff;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(236, 119, 10);
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: rgb(236, 119, 10);
  color: rgb(255, 255, 255);
}


body {
  padding: 0px;
  margin: 0px;
}

/* Trick or Treat */

section#trick-or-treat {
  background: rgb(236, 119, 10);
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  font-family: 'Crimson Text', serif;
  font-size: 1.4rem;
}

section#trick-or-treat div {
  flex: 1;
  text-align: center;
}

section#trick-or-treat div h2 {
  font-family: 'Creepster', cursive;
  letter-spacing: 0.5rem;
  font-size: 4rem;
  color: black;
}

section#trick-or-treat div button {
  border: none;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  padding: 15px 40px;
  font-weight: bold;
  cursor: pointer;
}

section#trick-or-treat div button:focus,
section#trick-or-treat div button:active {
  -webkit-animation: jello-vertical 0.9s both;
  animation: jello-vertical 0.9s both;
}
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

section#trick-or-treat div #game {
  height: 350px;
  width: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  margin: 40px auto;
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

section#trick-or-treat div .start {
  background-image: url('./Images/trick-or-treat.png');
}

section#trick-or-treat div .trick {
  background-image: url('./Images/trick.png');
}

section#trick-or-treat div .treat {
  background-image: url('./Images/treat.png');
}

section#trick-or-treat div .dftrick {
  background-image: url('./Images/dftrick.png');
}

/* End of Trick or Treat */

/*Contact Page CSS*/
.card {
  /* Add shadows to create the "card" effect */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.contacts {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

@keyframes glow {
  from {
    text-shadow: 0 0 2px #ffffff, 0 0 2px #fff205, 0 0 4px #149330,
      0 0 6px #149330;
  }
  to {
    text-shadow: 0 0 8px #ffffff, 0 0 12px #fff205, 0 0 16px #149330,
      0 0 18px #149330;
  }
}

#do-not-scroll-further {
  width: 100%;
  color: white;
  padding: 15px 0;
}
.glow {
  animation: glow 1.5s ease-in-out infinite alternate;
  font-size: 200px;
  padding-left: 20px;
  transition: transform 0.4s ease;
}
.glow:hover {
  transform: rotate(-180deg);
}
.do-not-scroll-further-heading {
  text-align: center;
}
.scary-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  margin: auto;
  width: 100%;
  padding: 40px;
  height: auto;
  background-color: #f4f0e1;
  display: flex;
  align-items: center;
  justify-content:space-around
}
.footer-garnish{
  
  text-align: center;
}
@media only screen and (max-width: 768px){
  .footer-garnish{
   display:none;
  }
  .sponsor{
    min-width: 100%;
    max-height: 75px;
    }

}


.leaves{
  margin: auto;
}
.footer-content{ 
  
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-text {
  padding: 10px;
  font-family: Poppins,sans-serif;
  margin: auto;
  color: rgba(181,58,37);

}
@media only screen and (max-width: 1000px) {
  .footer-text {
    flex-direction: column;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  20% {
    transform: scale(1.25) rotate(-45deg);
  }
  40% {
    transform: scale(1.5) rotate(-45deg);
  }
}

.footer-heart {
  position: relative;
  background-color: #91a88c;
  height: 1rem;
  width: 1rem;
  position: relative;
  transform: rotate(-45deg);
  animation: heartbeat 1s infinite;
  display: inline-block;
  margin: 0 1.5rem;
}

@media only screen and (max-width: 1000px) {
  .footer-heart {
    margin-top: 20px;
  }
}

.footer-heart::before,
.footer-heart::after {
	content: '';
	position: absolute;
	background: #91a88c;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
}
.footer-heart::before {
	top: -0.6rem;
	left: 0;
}
.footer-heart::after {
	top: 0;
	right: -0.6rem;
}

#spookyjokes {
	color: black;
  font-size: 1.5rem;
}
.hacktober{
	padding: 10px;
	height: 100px;
}
.sponsors{
	padding: 20px;
}
.sponsor{
	padding: 0px 40px;
  color: black;
  font-size: 2rem;
}
.leaves{
  height:80px;
}
#secret-modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
#secret-content {
  background-color: rgb(236, 119, 10);
  margin: auto;
  padding: 20px;
  border: 1px solid #000;
  width: 80%;
  height: 80%;
}
#secret-close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 28px;
  font-weight: bold;
  width: 100%;
  height: 4%;
}
#secret-close:hover,
#secret-close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.soc {
  background-color: rgb(236, 119, 10);
}