@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');
/*Contact Page CSS*/
html { 
    /* If Want a image change here */
    /* background: url(/4138964.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
     background: orange;
    font-family: 'Creepster', cursive;
  }
.card {
    /* Add shadows to create the "card" effect */
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgb(5, 5, 5);
    transition: 0.3s;
    width: 300px;
    border: black 2px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color:black
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    transform: scale(1.05);
  }

  .card img{
    width: 200px; 
    height: 200px; 
    margin: 20px auto 10px auto; 
    border-radius: 100%;
    border: 1px solid #000;
  }

  .container a{
    text-decoration: none;
    color: #000;
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: all .2s ease-in-out;
  }

  .container a:hover{
    background-color: #000;
    color: orange;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .contacts
  {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .intro
  {
      color: rgb(0, 0, 0);
      display: flex;
      justify-content: center;
  }
  .soc
  {
    /* background-color: #cbcccb; */
      display: flex;
      justify-content: center;
      margin-top: 30px;
      flex-direction: row;
  }
  .soc li
  {
      list-style: none;
      margin:10px 10px;
      transition: all .2s ease-in-out;
  }
  .soc li:hover
  {
      transform: scale(1.3); 
  }
  .soc li a
  {
      padding-bottom: 2px;
  }
