/* CSS Here pls */

@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

body{
    padding: 0px;
    margin: 0px;
}

/* Trick or Treat */

section#trick-or-treat {
    background: orange;
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    font-family: 'Crimson Text', serif;
    font-size: 1.4rem;
}

section#trick-or-treat div{
    flex: 1;
    text-align: center;
}

section#trick-or-treat div h2{
    font-family: 'Creepster', cursive;
    font-size: 4rem;
}

section#trick-or-treat div button{
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    padding: 15px 40px;
    font-weight: bold;
    cursor: pointer;
}

section#trick-or-treat div button:focus, section#trick-or-treat div button:active{
    -webkit-animation: jello-vertical 0.9s both;
	        animation: jello-vertical 0.9s both;
}
@-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

section#trick-or-treat div #game {
    height: 350px;
    width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 40px auto;
    -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
	        animation: pulsate-fwd 1s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

section#trick-or-treat div .start{
    background-image: url(Images/trick-or-treat.png);
}

section#trick-or-treat div .trick{
    background-image: url(Images/trick.png);
}

section#trick-or-treat div .treat{
    background-image: url(Images/treat.png);
}

/* End of Trick or Treat */
